* {
    margin: 0;
    padding: 0;
  }

header{
    width: 100%;
    background-color: navy;
    padding: 25px;
 
}

h1{
    
    text-align: center;

}
.main{
    font-weight: bold;
    font-size: 25PX;
    text-align: center;
    position: relative;
    top: 10px;
}
.buttons {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 50px;
    
}

button{
    height: 150px;
    width: 250px;
    background-color: navy;
    font-size: 20px;
}


.faq{

font-size: 14px;

}



.backdrop{
    
    
    height: 250px;
    width: 600px;
    background-color: antiquewhite;
    
    
       
    
}
